.idea
yarn-error.log
/.vscode
/node_modules
/redlit-contracts/build/
/redlit-contracts/node_modules
/redlit-contracts/yarn-error.log
/universal-login-sdk/dist/
/universal-login-sdk/node_modules/
/universal-login-sdk/yarn-error.log
/relayer/.env
/relayer/dist/
/relayer/build/
/relayer/node_modules
/relayer/yarn-error.log
/universal-login-example/.env
/universal-login-example/dist
/universal-login-example/build
/universal-login-example/.cache
/universal-login-example/node_modules
/universal-login-example/yarn-error.log
/redlit-dapp/.env
/redlit-dapp/dist
/redlit-dapp/build
/redlit-dapp/.cache
/redlit-dapp/node_modules
/redlit-dapp/yarn-error.log
/universal-login-boilerplate/.env
/universal-login-boilerplate/dist
/universal-login-boilerplate/build
/universal-login-boilerplate/.cache
/universal-login-boilerplate/node_modules
/universal-login-boilerplate/yarn-error.log

sdk/*
universal-login-example/src/views/.DS_Store
universal-login-example/src/.DS_Store
.DS_Store